<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beatriz Camargo</title>
    <link rel="stylesheet" href="../../css/global.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <h1><a href="./project.html">I am a portfolio</a></h1>
        </header>
        <nav>
            <ul>
                <li><a href="./index.html">Home</a></li>
                <li><a href="./pages/project/project.html">The project</a></li>
                <li><a href="./pages/author/author.html">The author</a></li>
                <li><a href="./pages/notes/notes.html">Notes</a></li>
                <li><a href="./pages/contact/contact.html">Contact me</a></li>
                <li><a href="./pages/references/references.html">References</a></li>
            </ul>
        </nav>
        <main>
            
        </main>
        <aside></aside>
        <footer>
            <p>&copy; Beatriz Camargo</p>
        </footer>
    </div>
</body>
</html>